<main class="main-sign">
    <form class="sign-in-form form" action="">
        <h2 class="sign-in-form__header form-header">Sign in</h2>
        <div class="sign-in-form__wrap input-wrap">
            {{{inputLogin}}}
            {{{inputPassword}}}
        </div>
        <div class="sign-in-form__actions form-actions">
            {{{formButton}}}
            <span class="sign-in-form__sign-up-wrap under-submit">
                {{{registerLink}}}
            </span>
        </div>
    </form>
    
</main>
