<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <main>
        <form class="sign-in-form form" action="">
            <h1 class="sign-in-form__header form-header">Sign in</h1>
            <div class="sign-in-form__wrap form-wrap">
                <label class="sign-in-form__login-label label" for="login"></label>
                <input type="text" name="login" class="sign-in-form__login-input input">

                <label class="sign-in-form__password-label label" for="password"></label>
                <input type="password" name="password" class="sign-in-form__password-input  input">
            </div>
            <button type="submit" value="Sign in" class="sign-in-form__submit submit"></button>
            <span class="sign-in-form__sign-up-wrap">
                <a class="sign-in-form__sign-up" href="">Create account</a>
            </span>
        </form>
    </main>
</body>
</html>