<div class="error">
    <span class="error__wrap">
        <h2 class="error__error-status">{{status}}</h2>
        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.8751 30.625H5.83341C5.05987 30.625 4.318 30.3177 3.77102 29.7707C3.22404 29.2237 2.91675 28.4819 2.91675 27.7083V7.29167C2.91675 6.51812 3.22404 5.77625 3.77102 5.22927C4.318 4.68229 5.05987 4.375 5.83341 4.375H29.1667C29.9403 4.375 30.6822 4.68229 31.2291 5.22927C31.7761 5.77625 32.0834 6.51812 32.0834 7.29167V21.875" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M2.91675 10.2084H32.0834M7.29175 7.30633L7.30633 7.29028M11.6667 7.30633L11.6813 7.29028M16.0417 7.30633L16.0563 7.29028M26.2501 32.4378L29.3432 29.3432M29.3432 29.3432L32.4378 26.2501M29.3432 29.3432L26.2501 26.2501M29.3432 29.3432L32.4378 32.4378" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </span>
    <div class="error__message">
        {{message}}
    </div>
</div>
