<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="./../../styles/reset.pcss">
    <link rel="stylesheet" href="./../../styles/forms.pcss">
    <link rel="stylesheet" href="./profile.pcss">
</head>
<body>
    <main class="main">
        <div class="main__go-back-btn">
            <a class="go-back-btn__a" href="./../../index.hbs">
                <svg class="go-back-btn__arrow" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="14" cy="14" r="14" transform="rotate(-180 14 14)" fill="#71A6D7"/>
                    <rect x="20" y="14.8" width="11" height="1.6" transform="rotate(-180 20 14.8)" fill="white"/>
                    <path d="M13 19L9 14L13 9" stroke="white" stroke-width="1.6"/>
                </svg>
            </a>
        </div>

        <div class="main__content">
            <div class="user-info">
                <div class="user-info__change-avatar circle">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.8449 2.15375H4.15259C3.04802 2.15375 2.15259 3.04918 2.15259 4.15374V17.5025L9.8842 15.6984C10.7781 15.4898 11.693 15.3845 12.611 15.3845H15.3865C16.3045 15.3845 17.2194 15.4898 18.1133 15.6984L25.8449 17.5025V4.15375C25.8449 3.04918 24.9495 2.15375 23.8449 2.15375ZM4.15259 0.153748C1.94345 0.153748 0.152588 1.94461 0.152588 4.15374V23.8461C0.152588 24.6806 0.408175 25.4555 0.845346 26.0967V26.4615H1.12601C1.25323 26.6085 1.39098 26.7463 1.5381 26.8734V27.1538H1.9027C2.54373 27.5907 3.31833 27.8461 4.15259 27.8461H23.8449C24.6791 27.8461 25.4538 27.5907 26.0948 27.1538H26.4612V26.8719C26.6076 26.7451 26.7448 26.6079 26.8715 26.4615H27.153V26.0954C27.5897 25.4544 27.8449 24.6801 27.8449 23.8461V4.15375C27.8449 1.94461 26.054 0.153748 23.8449 0.153748H4.15259ZM7.70485 10.2237C9.09522 10.2237 10.2223 9.09655 10.2223 7.70618C10.2223 6.31581 9.09522 5.1887 7.70485 5.1887C6.31448 5.1887 5.18737 6.31581 5.18737 7.70618C5.18737 9.09655 6.31448 10.2237 7.70485 10.2237Z" fill="#CDCDCD"/>
                    </svg>
                </div>
                <h2 class="user-info__name">Ivan Ivanov</h2>
            </div>
            <div class="profile-data">
                <ul class="profile-data__data-list">
                    <li class="data-list__data-unit data-unit">
                        <h3 class="data-unit__header">Phone number</h3>
                        <p class="data-unit__text">+7-(977)-777-77-77</p>
                    </li>
                    <li class="data-list__data-unit data-unit">
                        <h3 class="data-unit__header">Email</h3>
                        <p class="data-unit__text">ivanivanov@ya.ru</p>
                    </li>
                    <li class="data-list__data-unit data-unit">
                        <h3 class="data-unit__header">Login</h3>
                        <p class="data-unit__text">ivanivanov</p>
                    </li>
                    <li class="data-list__data-unit data-unit">
                        <h3 class="data-unit__header">firstname</h3>
                        <p class="data-unit__text">Ivan</p>
                    </li>
                    <li class="data-list__data-unit data-unit">
                        <h3 class="data-unit__header">Lastname</h3>
                        <p class="data-unit__text">Ivanov</p>
                    </li>
                    <li class="data-list__data-unit data-unit">
                        <h3 class="data-unit__header">Name in chats</h3>
                        <p class="data-unit__text">Ivan</p>
                    </li>
                </ul>
            </div>
            <div class="actions">
                <ul class="actions__action-list action-list">
                    <li class="action-list__action action">
                        <a class="action__a" href="#change-auth-modal">
                            <div class="action__icon">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 10.7917V3.29168C10 3.05557 10.08 2.85779 10.24 2.69834C10.4 2.5389 10.5978 2.4589 10.8333 2.45834H16.6667C16.9028 2.45834 17.1008 2.53834 17.2608 2.69834C17.4208 2.85834 17.5006 3.05612 17.5 3.29168V7.45834C17.5 7.69445 17.42 7.89251 17.26 8.05251C17.1 8.21251 16.9022 8.29223 16.6667 8.29168H12.5L10 10.7917ZM16.625 17.5C14.8333 17.5 13.0867 17.1006 11.385 16.3017C9.68333 15.5028 8.17639 14.4472 6.86417 13.135C5.55195 11.8228 4.49639 10.3158 3.6975 8.61418C2.89861 6.91251 2.49945 5.16612 2.5 3.37501C2.5 3.12501 2.58333 2.91668 2.75 2.75001C2.91667 2.58334 3.125 2.50001 3.375 2.50001H6.75C6.94445 2.50001 7.11806 2.56251 7.27083 2.68751C7.42361 2.81251 7.51389 2.97223 7.54167 3.16668L8.08333 6.08334C8.11111 6.27779 8.1075 6.45501 8.0725 6.61501C8.0375 6.77501 7.95778 6.91723 7.83333 7.04168L5.83333 9.08334C6.41667 10.0833 7.14583 11.0208 8.02083 11.8958C8.89583 12.7708 9.86111 13.5278 10.9167 14.1667L12.875 12.2083C13 12.0833 13.1633 11.9897 13.365 11.9275C13.5667 11.8653 13.7644 11.8478 13.9583 11.875L16.8333 12.4583C17.0278 12.5 17.1875 12.5939 17.3125 12.74C17.4375 12.8861 17.5 13.0561 17.5 13.25V16.625C17.5 16.875 17.4167 17.0833 17.25 17.25C17.0833 17.4167 16.875 17.5 16.625 17.5Z" fill="black"/>
                                </svg>
                            </div>
                            <p class="action__action-text">Change authorization data</p>
                        </a>
                    </li>
                    <li class="action-list__action action">
                        <a class="action__a" href="#change-password-modal">
                            <div class="action__icon">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.99992 18.3333C4.54159 18.3333 4.14909 18.17 3.82242 17.8433C3.49575 17.5167 3.3327 17.1245 3.33325 16.6667V8.33334C3.33325 7.87501 3.49659 7.48251 3.82325 7.15584C4.14992 6.82918 4.54214 6.66612 4.99992 6.66668H5.83325V5.00001C5.83325 3.84723 6.23964 2.86446 7.05242 2.05168C7.8652 1.2389 8.8477 0.832789 9.99992 0.833344C11.1527 0.833344 12.1355 1.23973 12.9483 2.05251C13.761 2.86529 14.1671 3.84779 14.1666 5.00001V6.66668H14.9999C15.4583 6.66668 15.8508 6.83001 16.1774 7.15668C16.5041 7.48334 16.6671 7.87557 16.6666 8.33334V16.6667C16.6666 17.125 16.5033 17.5175 16.1766 17.8442C15.8499 18.1708 15.4577 18.3339 14.9999 18.3333H4.99992ZM9.99992 14.1667C10.4583 14.1667 10.8508 14.0033 11.1774 13.6767C11.5041 13.35 11.6671 12.9578 11.6666 12.5C11.6666 12.0417 11.5033 11.6492 11.1766 11.3225C10.8499 10.9958 10.4577 10.8328 9.99992 10.8333C9.54159 10.8333 9.14909 10.9967 8.82242 11.3233C8.49575 11.65 8.3327 12.0422 8.33325 12.5C8.33325 12.9583 8.49659 13.3508 8.82325 13.6775C9.14992 14.0042 9.54214 14.1672 9.99992 14.1667ZM7.49992 6.66668H12.4999V5.00001C12.4999 4.30557 12.2569 3.71529 11.7708 3.22918C11.2846 2.74307 10.6944 2.50001 9.99992 2.50001C9.30548 2.50001 8.7152 2.74307 8.22909 3.22918C7.74298 3.71529 7.49992 4.30557 7.49992 5.00001V6.66668Z" fill="black"/>
                                </svg>

                            </div>
                            <p class="action__action-text">Change password</p>
                        </a>
                    </li>
                    <li class="action-list__action action">
                        <a class="action__a" href="#change-name-modal">
                            <div class="action__icon">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.3417 4.83333L14.3333 3.82499C13.6833 3.17499 12.625 3.17499 11.975 3.82499L9.74167 6.05833L2.5 13.3V16.6667H5.86667L13.15 9.38333L15.3417 7.19166C16 6.54166 16 5.48333 15.3417 4.83333ZM5.175 15H4.16667V13.9917L11.3833 6.77499L12.3917 7.78333L5.175 15ZM9.16667 16.6667L12.5 13.3333H17.5V16.6667H9.16667Z" fill="black"/>
                                </svg>
                            </div>
                            <p class="action__action-text">Change name</p>
                        </a>
                    </li>
                    <li class="action-list__action action">
                        <a class="action__a" href="#log-out-modal">
                            <div class="action__icon">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.99992 1.66666H12.4999C12.9419 1.66666 13.3659 1.84225 13.6784 2.15481C13.991 2.46737 14.1666 2.8913 14.1666 3.33332V4.99999H12.4999V3.33332H4.99992V16.6667H12.4999V15H14.1666V16.6667C14.1666 17.1087 13.991 17.5326 13.6784 17.8452C13.3659 18.1577 12.9419 18.3333 12.4999 18.3333H4.99992C4.55789 18.3333 4.13397 18.1577 3.82141 17.8452C3.50885 17.5326 3.33325 17.1087 3.33325 16.6667V3.33332C3.33325 2.8913 3.50885 2.46737 3.82141 2.15481C4.13397 1.84225 4.55789 1.66666 4.99992 1.66666Z" fill="#912121"/>
                                    <path d="M13.4083 12.9917L14.5833 14.1667L18.75 10L14.5833 5.83334L13.4083 7.00834L15.5583 9.16668H7.5V10.8333H15.5583L13.4083 12.9917Z" fill="#912121"/>
                                </svg>

                            </div>
                            <p class="action__action-text">Log out</p>
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
            
    </main>
            
</body>
</html>