<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404<!--var--></title>
</head>
<body>
    <main>
        <div class="error">
            <span class="error__wrap">
                <div class="error__error-status">404<!--var--></div>
                <svg class="error__error-svg-icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.99992 1.66666H12.4999C12.9419 1.66666 13.3659 1.84225 13.6784 2.15481C13.991 2.46737 14.1666 2.8913 14.1666 3.33332V4.99999H12.4999V3.33332H4.99992V16.6667H12.4999V15H14.1666V16.6667C14.1666 17.1087 13.991 17.5326 13.6784 17.8452C13.3659 18.1577 12.9419 18.3333 12.4999 18.3333H4.99992C4.55789 18.3333 4.13397 18.1577 3.82141 17.8452C3.50885 17.5326 3.33325 17.1087 3.33325 16.6667V3.33332C3.33325 2.8913 3.50885 2.46737 3.82141 2.15481C4.13397 1.84225 4.55789 1.66666 4.99992 1.66666Z" fill="#912121"/>
                    <path d="M13.4083 12.9917L14.5833 14.1667L18.75 10L14.5833 5.83334L13.4083 7.00834L15.5583 9.16668H7.5V10.8333H15.5583L13.4083 12.9917Z" fill="#912121"/>
                </svg>
            </span>
            <div class="error__message">
                Sorry, server error<!--var-->
            </div>
        </div>
        <div class="go-back">
            <p class="go-back__text"><a href="">To main page</a></p>
        </div>
    </main>
</body>
</html>