<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="styles/reset.pcss"/>
</head>
<body>
    <main>
        <ul class="pages">
            <li class="page"><a href="./pages/chats/chats.hbs">Chats</a></li>
            <li class="page"><a href="./pages/sign-in/sign-in.hbs">Sign-in</a></li>
            <li class="page"><a href="./pages/sign-up/sign-up.hbs">Sign-up</a></li>
            <li class="page"><a href="./pages/profile/profile.hbs">Profile</a></li>
            <li class="page"><a href="./pages/404/404.hbs">404</a></li>
            <li class="page"><a href="./pages/500/500.hbs">500</a></li>
        </ul>
    </main>
</body>
</html>