<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        h1 Hello Parcel!
        main 
            aside(class="sidebar")
                div(class="preferences")
                    a(href="")
                        div(class="preferences-icon-avatar")
                        p Edit my data 
                div(class="create-new-chat")
                    a(href="")


            div(class="content")
                nav(class="navbar")
                    div(class="search")
                    ul(class="chat-list")
                        li(class="chat")
                            div(class="circle")
                                img()
                            span(class="name")
                            span(class="last-message")
                            span(class="last-message-time")
                            div(class="unread-messages-count")
                                p 4 
                        li(class="chat")
                            div(class="circle")
                                img()
                            span(class="name")
                            span(class="last-message")
                            span(class="last-message-time")
                            div(class="unread-messages-count")
                                p 4 
                        li(class="chat")
                            div(class="circle")
                                img()
                            span(class="name")
                            span(class="last-message")
                            span(class="last-message-time")
                            div(class="unread-messages-count")
                                p 4 
                        li(class="chat")
                            div(class="circle")
                                img()
                            span(class="name")
                            span(class="last-message")
                            span(class="last-message-time")
                            div(class="unread-messages-count")
                                p 4 
                        li(class="chat")
                            div(class="circle")
                                img()
                            span(class="name")
                            span(class="last-message")
                            span(class="last-message-time")
                            div(class="unread-messages-count")
                                p 4 
                div(class="messages")




        script(src="./index.js", type="module")